<div class="container mt-4">
    <h1 class="text-center mb-4">Your Orders</h1>
    <%= stylesheet_link_tag "pagination", media:"all" %>
    <% if @orders.any? %>
        <div class="list-group">
            <% @orders.each do |order| %>
                <%= link_to order_path(order), class: 'list-group-item list-group-item-action' do %>
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-1">Order ID: <%= order.id %></h5>
                        <small class="text-muted">
                            Status: 
                            <% if order.line_items.count > 0 %>
                                <%= order.line_items.where(status: "Dispatched").count %> / <%= order.line_items.count %>
                            <% else %>
                                No line items
                            <% end %>
                        </small>                    
                    </div>
                    <div class="mb-1">
                        <strong>Total Price:</strong> <%= number_to_currency(order.total_price, unit: '₹') %>
                    </div>

                    <h6>Order Items:</h6>
                    <ul class="list-unstyled">
                        <% order.line_items.each do |line_item| %>
                            <% product = Product.find_by(id: line_item.product_id) %>
                            <li class="d-flex justify-content-between align-items-center order-item">
                                <div class="d-flex align-items-center">
                                    <% if product %>
                                        <%= image_tag url_for(product.img), class: 'img-thumbnail mr-2', style: 'width: 50px; height: 50px;' %>
                                        <div>
                                            <strong><%= product.name %></strong><br>
                                            <span class="text-muted">Quantity: <%= line_item.quantity %></span>
                                        </div>
                                    <% else %>
                                        <span class="text-danger">Product not found</span>
                                    <% end %>
                                </div>
                                <span class="font-weight-bold">
                                    <%= number_to_currency(line_item.price * line_item.quantity, unit: '₹') %>
                                </span>
                            </li>
                        <% end %>
                    </ul>
                <% end %>
                <div class="order-divider"></div> 
            <% end %>
        </div>
        
    <% else %>
        <p class="text-center text-muted">You have no orders yet.</p>
    <% end %>
    <%= paginate @orders %>

</div>
