<!-- app/views/carts/show.html.erb -->

<h1 class="text-center mb-4">Your Cart</h1>

<% if @line_items.any? %>
  <ul class="list-group">
    <% @line_items.each do |line_item| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <%= image_tag line_item.product.img, style: "width: 150px; height: 150px; object-fit: contain;", class: "me-3 rounded-circle" %>
          <div>
            <h5 class="mb-1"><%= line_item.product.name %></h5>
            <small>Quantity: <%= line_item.quantity %></small><br />
            <small>Price: <%= number_to_currency(line_item.product.price,unit:'₹') %></small>
          </div>
        </div>
        <%= button_to 'Remove', line_item_path(line_item), method: :delete, class:'btn btn-danger' %>
      </li>
    <% end %>
  </ul>
    <div class="text-center mt-3">
    <% if @line_items.any? %>
      <%= button_to 'Checkout', checkout_orders_path, method: :get, class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="text-center mt-3">
    <%= link_to 'Continue Shopping', products_path, class: 'btn btn-primary' %>
  </div>

<% else %>
  <div class="alert alert-warning text-center" role="alert">
    Your cart is currently empty.
  </div>
<% end %>
