
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <%= link_to 'iBuy', about_path, class: "navbar-brand" %>
  <%= stylesheet_link_tag "navbar", media: "all" %>


  <div class="collapse navbar-collapse" id="navbarSupportedContent" style='margin-top:5px;'>
    <ul class="navbar-nav mr-auto">
      <% unless current_user&.admin? %>
        <li class="nav-item <%= 'active' if current_page?(products_path) %>">
          <%= link_to 'Products', products_path, class: "nav-link" %>
        </li>
        <% else%>
          <li class="nav-item <%= 'active' if current_page?(products_path) %>">
          <%= link_to 'Products', products_admins_path, class: "nav-link" %>
        </li>
          <li class="nav-item <%= 'active' if current_page?(products_path) %>">
          <%= link_to 'Orders', admins_path, class: "nav-link" %>
        </li>
      <% end %>
      <% if current_user.nil? %>
      <li class="nav-item <%= 'active' if current_page?(new_user_session_path) %>">
        <%= link_to 'Login', new_user_session_path, class: "nav-link" %> 
      </li>
      <% end %>
    </ul>

    <ul class="navbar-nav ml-auto"> 
      <li class="nav-item d-flex align-items-center"> 
        <% if current_user %>

        <% if current_user&.customer? %>
          <%= link_to image_tag("cart.jpeg", class: "logo"), carts_path, class: "nav-link" %>
          <%= link_to 'Sellers', sellers_path, class: "nav-link ms-3" %> 
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" %> 
          <%= link_to 'Orders', orders_path, class: "nav-link" %>

        <% elsif current_user.seller? %>
          <%= link_to 'Add New Product', new_product_path, class: 'nav-link' %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" %> 
          <%= link_to 'Order List', order_requests_orders_path, class: "nav-link" %>
          <% elsif current_user.admin? %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" %> 

        <% end %> 
          </li>
          <li class="nav-item d-flex align-items-center">
          <%= link_to "#{current_user.role.capitalize} Profile", user_path(current_user.id), class: "nav-link" %>
          </li>
        </ul>

        <% else %>
          <li class="nav-item d-flex align-items-center ms-auto">
        <%= link_to 'Login', new_user_session_path, class: "nav-link" %> 
        </li>
        <h6 class="nav-link mt-2">Guest</h6>
<% end %>
  </div>
</nav>  

